@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --color-primary: #004225;
  --color-dashboardbg:#2C4C3B;         
  --color-primary-light: #19553B;   /* --light-green */
  --color-cream: #F1F1EB;           /* --light-cream */
  --color-line: #608E77;            /* --lines */
  --color-hoverBg: #E3E9E7;         /* --hover */
  --color-iconBg: #C2CDC1;          /* --iconBg */
  --color-dark: #1A1A1A;            /* --darkTextColor */
  --color-karki: #C9A227;           /* --headingTextKarkiColor */
  --color-karki-hover: #E2DAC4;     /* --karkiHover */
  --color-body: #F8F6F1;            /* --bodeBackgroundColor */
  --color-surface: #E5ECE9;         /* --IconBackgroundColor */
  --color-surfaceHeader: #FEFDFE;   /* header glass background */
  --color-navlink: #6B7280;         /* --navlink */
  --color-muted: #7D7280;           /* --textGrayColor */
  --color-pagebg:#F8F6F1;
  --font-nunito: "Ubuntu", sans-serif;
  --font-fjalla: "Fjalla One", sans-serif;
  --font-Inter: "Inter", sans-serif;
}
 


