@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --color-primary: #004225;        
  --color-dashboardbg: #2C4C3B;     
  --color-primary-light: #19553B;   
  --color-cream: #F1F1EB;           
  --color-line: #608E77;            
  --color-hoverBg: #E3E9E7;
  --color-iconBg: #C2CDC1;          
  --color-dark: #1A1A1A;            
  --color-karki: #C9A227;           
  --color-karki-hover: #E2DAC4;     
  --color-body: #F8F6F1;            
  --color-surface: #E5ECE9;         
  --color-surfaceHeader: #FEFDFE;   
  --color-navlink: #6B7280;         
  --color-muted: #7D7280;          
  --color-pagebg: #F8F6F1;         

  
  --color-success: #2F8F6E;         
  --color-warning: #C9A227;         
  --color-danger:  #B3402A;         
  --color-info:    #3E6B8A;        

  --font-nunito: "Ubuntu", sans-serif;
  --font-fjalla: "Fjalla One", sans-serif;
  --font-Inter: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}


